services:
  - type: web
    name: crud‑app‑backend
    rootDir: backend
    branch: main
    buildCommand: npm install
    startCommand: node server.js
    plan: free
    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_NAME
        sync: false
      - key: FRONTEND_URL
        value: https://showlittlemercy.github.io/CRUD-APPLICATION/
